Repository Charlunn/AntiFraudKnowledge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend, deploy_frontend, deploy_neo4j, deploy_mysql

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - deploy

deploy_backend:
  stage: deploy
  script:
    - echo "Backend files changed. Restarting backend service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down backend && docker-compose up -d backend" # 请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - backend/**/*
    refs:
      - main

deploy_frontend:
  stage: deploy
  script:
    - echo "Frontend files changed. Restarting frontend service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down frontend && docker-compose up -d frontend" # 请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - frontend/**/*
    refs:
      - main

deploy_neo4j:
  stage: deploy
  script:
    - echo "Neo4j data or configuration changed. Restarting neo4j service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down neo4j && docker-compose up -d neo4j" # 重启 neo4j 服务，请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - db/neo4j/**/* # 当 db/neo4j 目录下的任何文件发生更改时触发
    refs:
      - main # 只在 main 分支触发

deploy_mysql:
  stage: deploy
  script:
    - echo "MySQL data or configuration changed. Restarting mysql service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down mysql && docker-compose up -d mysql" # 重启 mysql 服务，请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - db/mysql/**/* # 当 db/mysql 目录下的任何文件发生更改时触发
    refs:
      - main # 只在 main 分支触发

登陆注册修复
  docker-compose.yml
  frontend/components/AppHeader.vue
  frontend/stores/auth.js
  package-lock.json
  package.json
Due: deploy_frontend

结构修改
  backend/graph_api/serializers.py
  项目计划书-反诈骗.pdf
Due: deploy_backend

统计图表添加
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/requirements.txt
  backend/statistics/__init__.py
  backend/statistics/migrations/0001_initial.py
  backend/statistics/migrations/__init__.py
  backend/statistics/models.py
  backend/statistics/serializers.py
  backend/statistics/urls.py
  backend/statistics/views.py
  frontend/components/PlatformStatistics.vue
  frontend/components/UserStatistics.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard.vue
  frontend/pages/index.vue
  frontend/pages/personal-info.vue
  frontend/pages/register.vue
  frontend/stores/auth.js
  frontend/stores/statistics.js
Due: deploy_backend, deploy_frontend

chore: clean project structure and add docs
  .firebase/knowledge-37116/functions/package-lock.json
  .firebase/knowledge-37116/functions/package.json
  .firebase/knowledge-37116/hosting/_nuxt/BEcj2C4p.js
  .firebase/knowledge-37116/hosting/_nuxt/BZk_P7jI.js
  .firebase/knowledge-37116/hosting/_nuxt/DfeXr0L-.js
  .firebase/knowledge-37116/hosting/_nuxt/FM63H9QT.js
  .firebase/knowledge-37116/hosting/_nuxt/YMSeGCD5.js
  .firebase/knowledge-37116/hosting/_nuxt/Zesm_fh0.js
  .firebase/knowledge-37116/hosting/_nuxt/bX1fWyE-.js
  .firebase/knowledge-37116/hosting/_nuxt/builds/latest.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/5b4e8655-5a06-4e66-86ad-a4453f1a4853.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/769030bc-8ba5-49c0-92eb-9902f94151f1.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/7f76ecd4-ee33-447f-8b76-3b0012029602.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/dff0d435-3113-4453-98a3-ef15988dcf4e.json
  .firebase/knowledge-37116/hosting/_nuxt/entry.CcLWtCQj.css
  .firebase/knowledge-37116/hosting/_nuxt/entry.DR2-N0RV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.ChEKzsTS.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.aNCZ2L4y.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.D0l6l5LV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.JESWioAZ.css
  .firebase/knowledge-37116/hosting/_nuxt/hapgdh11.js
  .firebase/knowledge-37116/hosting/_nuxt/index.B_aoGg54.css
  .firebase/knowledge-37116/hosting/_nuxt/index.hU7v1fD1.css
  .firebase/knowledge-37116/hosting/_nuxt/pHFOM2mM.js
  .firebase/knowledge-37116/hosting/_nuxt/xzSA7DD2.js
  .firebase/knowledge-37116/hosting/favicon.ico
  .firebase/knowledge-37116/hosting/robots.txt
  .gitignore
  README
  README.md
  backend/test.html
Due: deploy_backend

feat: add CI/CD workflow
  .firebase/knowledge-37116/functions/package-lock.json
  .firebase/knowledge-37116/functions/package.json
  .firebase/knowledge-37116/hosting/_nuxt/BEcj2C4p.js
  .firebase/knowledge-37116/hosting/_nuxt/BZk_P7jI.js
  .firebase/knowledge-37116/hosting/_nuxt/DfeXr0L-.js
  .firebase/knowledge-37116/hosting/_nuxt/FM63H9QT.js
  .firebase/knowledge-37116/hosting/_nuxt/YMSeGCD5.js
  .firebase/knowledge-37116/hosting/_nuxt/Zesm_fh0.js
  .firebase/knowledge-37116/hosting/_nuxt/bX1fWyE-.js
  .firebase/knowledge-37116/hosting/_nuxt/builds/latest.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/5b4e8655-5a06-4e66-86ad-a4453f1a4853.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/769030bc-8ba5-49c0-92eb-9902f94151f1.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/7f76ecd4-ee33-447f-8b76-3b0012029602.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/dff0d435-3113-4453-98a3-ef15988dcf4e.json
  .firebase/knowledge-37116/hosting/_nuxt/entry.CcLWtCQj.css
  .firebase/knowledge-37116/hosting/_nuxt/entry.DR2-N0RV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.ChEKzsTS.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.aNCZ2L4y.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.D0l6l5LV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.JESWioAZ.css
  .firebase/knowledge-37116/hosting/_nuxt/hapgdh11.js
  .firebase/knowledge-37116/hosting/_nuxt/index.B_aoGg54.css
  .firebase/knowledge-37116/hosting/_nuxt/index.hU7v1fD1.css
  .firebase/knowledge-37116/hosting/_nuxt/pHFOM2mM.js
  .firebase/knowledge-37116/hosting/_nuxt/xzSA7DD2.js
  .firebase/knowledge-37116/hosting/favicon.ico
  .firebase/knowledge-37116/hosting/robots.txt
  .github/workflows/ci.yml
  .gitignore
  README
  README.md
  backend/Dockerfile.backend
  backend/test.html
  docker-compose.yml
  frontend/Dockerfile.frontend
  scripts/start_dev.sh
  scripts/stop_dev.sh
  vercel.json
Due: deploy_backend, deploy_frontend

chore: run CI on main self-hosted runner
  .firebase/knowledge-37116/functions/package-lock.json
  .firebase/knowledge-37116/functions/package.json
  .firebase/knowledge-37116/hosting/_nuxt/BEcj2C4p.js
  .firebase/knowledge-37116/hosting/_nuxt/BZk_P7jI.js
  .firebase/knowledge-37116/hosting/_nuxt/DfeXr0L-.js
  .firebase/knowledge-37116/hosting/_nuxt/FM63H9QT.js
  .firebase/knowledge-37116/hosting/_nuxt/YMSeGCD5.js
  .firebase/knowledge-37116/hosting/_nuxt/Zesm_fh0.js
  .firebase/knowledge-37116/hosting/_nuxt/bX1fWyE-.js
  .firebase/knowledge-37116/hosting/_nuxt/builds/latest.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/5b4e8655-5a06-4e66-86ad-a4453f1a4853.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/769030bc-8ba5-49c0-92eb-9902f94151f1.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/7f76ecd4-ee33-447f-8b76-3b0012029602.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/dff0d435-3113-4453-98a3-ef15988dcf4e.json
  .firebase/knowledge-37116/hosting/_nuxt/entry.CcLWtCQj.css
  .firebase/knowledge-37116/hosting/_nuxt/entry.DR2-N0RV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.ChEKzsTS.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.aNCZ2L4y.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.D0l6l5LV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.JESWioAZ.css
  .firebase/knowledge-37116/hosting/_nuxt/hapgdh11.js
  .firebase/knowledge-37116/hosting/_nuxt/index.B_aoGg54.css
  .firebase/knowledge-37116/hosting/_nuxt/index.hU7v1fD1.css
  .firebase/knowledge-37116/hosting/_nuxt/pHFOM2mM.js
  .firebase/knowledge-37116/hosting/_nuxt/xzSA7DD2.js
  .firebase/knowledge-37116/hosting/favicon.ico
  .firebase/knowledge-37116/hosting/robots.txt
  .github/workflows/ci.yml
  .gitignore
  README
  README.md
  backend/Dockerfile.backend
  backend/test.html
  docker-compose.yml
  frontend/Dockerfile.frontend
  scripts/start_dev.sh
  scripts/stop_dev.sh
  vercel.json
Due: deploy_backend, deploy_frontend

更新 vercel.json
  vercel.json
Due: none

fix: use npm for vercel build
  .firebase/knowledge-37116/functions/package-lock.json
  .firebase/knowledge-37116/functions/package.json
  .firebase/knowledge-37116/hosting/_nuxt/BEcj2C4p.js
  .firebase/knowledge-37116/hosting/_nuxt/BZk_P7jI.js
  .firebase/knowledge-37116/hosting/_nuxt/DfeXr0L-.js
  .firebase/knowledge-37116/hosting/_nuxt/FM63H9QT.js
  .firebase/knowledge-37116/hosting/_nuxt/YMSeGCD5.js
  .firebase/knowledge-37116/hosting/_nuxt/Zesm_fh0.js
  .firebase/knowledge-37116/hosting/_nuxt/bX1fWyE-.js
  .firebase/knowledge-37116/hosting/_nuxt/builds/latest.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/5b4e8655-5a06-4e66-86ad-a4453f1a4853.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/769030bc-8ba5-49c0-92eb-9902f94151f1.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/7f76ecd4-ee33-447f-8b76-3b0012029602.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/dff0d435-3113-4453-98a3-ef15988dcf4e.json
  .firebase/knowledge-37116/hosting/_nuxt/entry.CcLWtCQj.css
  .firebase/knowledge-37116/hosting/_nuxt/entry.DR2-N0RV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.ChEKzsTS.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.aNCZ2L4y.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.D0l6l5LV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.JESWioAZ.css
  .firebase/knowledge-37116/hosting/_nuxt/hapgdh11.js
  .firebase/knowledge-37116/hosting/_nuxt/index.B_aoGg54.css
  .firebase/knowledge-37116/hosting/_nuxt/index.hU7v1fD1.css
  .firebase/knowledge-37116/hosting/_nuxt/pHFOM2mM.js
  .firebase/knowledge-37116/hosting/_nuxt/xzSA7DD2.js
  .firebase/knowledge-37116/hosting/favicon.ico
  .firebase/knowledge-37116/hosting/robots.txt
  .github/workflows/ci.yml
  .gitignore
  README
  README.md
  backend/Dockerfile.backend
  backend/test.html
  docker-compose.yml
  frontend/Dockerfile.frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  scripts/start_dev.sh
  scripts/stop_dev.sh
  vercel.json
Due: deploy_backend, deploy_frontend

Rename vercel.json to veercel.jsonnnn
  veercel.jsonnnn
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update Dockerfile.backend
  backend/Dockerfile.backend
Due: deploy_backend

Update Dockerfile.frontend
  frontend/Dockerfile.frontend
Due: deploy_frontend

docs: add requirements and interface design
  docs/interface_design.md
  docs/requirements_analysis.md
  docs/task_plan.md
Due: none

chore: add configurable env and container setups
  .devcontainer/devcontainer.json
  .gitignore
  backend/KnowledgeBackend/settings.py
  config/.env.example
  config/.env.production.example
  config/README.md
  docker-compose.prod.yml
Due: deploy_backend

fix: include frontend lock file for CI
  frontend/package-lock.json
Due: deploy_frontend

docs: document environment variables
  ENVIRONMENT.md
  frontend/package-lock.json
Due: deploy_frontend

Add env file generation to CI
  .github/workflows/ci.yml
  .gitignore
Due: none

build(frontend): 添加前端Dockerfile和数据库配置文件
  .pgpass
  frontend/Dockerfile.frontend
  frontend/pnpm-lock.yaml
Due: deploy_frontend

feat(api): 全面优化API工具类并添加详细文档注释
  backend/test_create_user.py
  backend/test_db.py
  backend/test_final_api.py
  backend/test_registration.py
  backend/test_registration_api.py
  backend/test_registration_api_fixed.py
  backend/test_registration_api_new.py
  backend/test_serializer.py
  backend/users/models.py
  backend/users/views.py
  backend/verify_user.py
  frontend/api/achievements.js
  frontend/api/auth.js
  frontend/api/chat.js
  frontend/api/feedback.js
  frontend/api/http.js
  frontend/api/quiz.js
  frontend/middleware/route-fix.js
  frontend/nuxt.config.ts
  frontend/pages/api-test.vue
  frontend/pages/index.vue
  test_registration_form.html
Due: deploy_backend, deploy_frontend

feat: 添加反欺诈平台仪表盘页面及功能模块
  stitch_home_(dashboard)/ai_simulation_combat/code.html
  stitch_home_(dashboard)/ai_simulation_combat/screen.png
  stitch_home_(dashboard)/anti-fraud_knowledge_graph/code.html
  stitch_home_(dashboard)/anti-fraud_knowledge_graph/screen.png
  stitch_home_(dashboard)/community_interaction/code.html
  stitch_home_(dashboard)/community_interaction/screen.png
  stitch_home_(dashboard)/gamified_learning/code.html
  stitch_home_(dashboard)/gamified_learning/screen.png
  stitch_home_(dashboard)/home_(dashboard)/code.html
  stitch_home_(dashboard)/home_(dashboard)/screen.png
  stitch_home_(dashboard)/management_backend/code.html
  stitch_home_(dashboard)/management_backend/screen.png
  stitch_home_(dashboard)/personal_center_/_user_profile/code.html
  stitch_home_(dashboard)/personal_center_/_user_profile/screen.png
  stitch_home_(dashboard)/proactive_defense_drill/code.html
  stitch_home_(dashboard)/proactive_defense_drill/screen.png
  stitch_home_(dashboard)/risk_early_warning_center/code.html
  stitch_home_(dashboard)/risk_early_warning_center/screen.png
Due: none

feat(ui): 添加新的UI界面截图和HTML代码文件
  ui/ai_simulation_combat/code.html
  ui/ai_simulation_combat/screen.png
  ui/anti-fraud_knowledge_graph/code.html
  ui/anti-fraud_knowledge_graph/screen.png
  ui/community_interaction/code.html
  ui/community_interaction/screen.png
  ui/gamified_learning/code.html
  ui/gamified_learning/screen.png
  ui/home_(dashboard)/code.html
  ui/home_(dashboard)/screen.png
  ui/management_backend/code.html
  ui/management_backend/screen.png
  ui/personal_center_/_user_profile/code.html
  ui/personal_center_/_user_profile/screen.png
  ui/proactive_defense_drill/code.html
  ui/proactive_defense_drill/screen.png
  ui/risk_early_warning_center/code.html
  ui/risk_early_warning_center/screen.png
Due: none

feat: 重构统计模块并添加社区功能
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/achievements/serializers.py
  backend/achievements/urls.py
  backend/achievements/views.py
  backend/chatapi/views.py
  backend/community/__init__.py
  backend/community/admin.py
  backend/community/apps.py
  backend/community/migrations/0001_initial.py
  backend/community/migrations/__init__.py
  backend/community/models.py
  backend/community/serializers.py
  backend/community/tests.py
  backend/community/urls.py
  backend/community/views.py
  backend/feedback/serializers.py
  backend/feedback/urls.py
  backend/feedback/views.py
  backend/graph_api/views.py
  backend/quiz/models.py
  backend/quiz/serializers.py
  backend/quiz/urls.py
  backend/quiz/views.py
  backend/statistics/views.py
  backend/stats/__init__.py
  backend/stats/migrations/0001_initial.py
  backend/stats/migrations/__init__.py
  backend/stats/models.py
  backend/stats/serializers.py
  backend/stats/urls.py
  backend/stats/views.py
  backend/test_api_functionality.py
  backend/users/urls.py
  backend/users/views.py
  backend/utils/__init__.py
  backend/utils/permissions.py
Due: deploy_backend

feat(api): 添加Swagger文档支持并优化问答API
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/comprehensive_api_test.py
  backend/quiz/migrations/0002_alter_quizattempt_options_and_more.py
  backend/quiz/models.py
  backend/quiz/views.py
  backend/requirements.txt
  backend/test_quiz_api.py
Due: deploy_backend

feat(api): 实现统一API工具类及模块化功能
  frontend/README_API.md
  frontend/api/achievements.ts
  frontend/api/auth.ts
  frontend/api/base.ts
  frontend/api/chat.ts
  frontend/api/community.ts
  frontend/api/feedback.ts
  frontend/api/index.ts
  frontend/api/quiz.ts
  frontend/api/statistics.ts
  frontend/composables/useApi.ts
  frontend/docs/API_USAGE.md
  frontend/plugins/api.client.ts
  frontend/types/api.ts
Due: deploy_frontend

feat: 添加图表可视化支持并优化API功能
  backend/KnowledgeBackend/settings.py
  backend/api_test_report_1756959078.json
  backend/graph_api/cypher_queries.py
  backend/graph_api/db_utils.py
  backend/graph_api/urls.py
  backend/graph_api/views.py
  backend/requirements.txt
  frontend/api/base.ts
  frontend/assets/css/main.css
  frontend/components/GraphVisualization.vue
  frontend/composables/useGraphData.ts
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/graph.vue
  frontend/plugins/api.client.ts
  frontend/pnpm-lock.yaml
  ui/ai_simulation_combat/code.html
  ui/ai_simulation_combat/screen.png
  ui/anti-fraud_knowledge_graph/code.html
  ui/anti-fraud_knowledge_graph/screen.png
  ui/community_interaction/code.html
  ui/community_interaction/screen.png
  ui/gamified_learning/code.html
  ui/gamified_learning/screen.png
  ui/home_(dashboard)/code.html
  ui/home_(dashboard)/screen.png
  ui/management_backend/code.html
  ui/management_backend/screen.png
  ui/personal_center_/_user_profile/code.html
  ui/personal_center_/_user_profile/screen.png
  ui/proactive_defense_drill/code.html
  ui/proactive_defense_drill/screen.png
  ui/risk_early_warning_center/code.html
  ui/risk_early_warning_center/screen.png
  ui/ui_组件风格主题设定集/code.html
  ui/ui_组件风格主题设定集/screen.png
  ui/ui_组件风格主题设定集_-_深色模式/code.html
  ui/ui_组件风格主题设定集_-_深色模式/screen.png
Due: deploy_backend, deploy_frontend

feat: 添加AI测试页面和邮箱验证功能，更新API接口和表单验证
  frontend/api/achievements.js
  frontend/api/achievements.ts
  frontend/api/auth.ts
  frontend/api/chat.js
  frontend/api/chat.ts
  frontend/api/community.ts
  frontend/api/feedback.js
  frontend/api/feedback.ts
  frontend/api/quiz.ts
  frontend/api/statistics.ts
  frontend/app.vue
  frontend/components/layout/Footer.vue
  frontend/components/layout/Header.vue
  frontend/composables/useApi.ts
  frontend/composables/useAuth.js
  frontend/composables/useForm.js
  frontend/pages/achievements.vue
  frontend/pages/ai-test.vue
  frontend/pages/auth/verify-email.vue
  frontend/pages/community/[id].vue
  frontend/pages/community/index.vue
  frontend/pages/dashboard.vue
  frontend/pages/graph.vue
  frontend/pages/index.vue
  frontend/pages/privacy.vue
  frontend/pages/profile/index.vue
  frontend/pages/profile/settings.vue
  frontend/pages/quiz/[id].vue
  frontend/pages/quiz/[id]/results.vue
  frontend/pages/quiz/[id]/start.vue
  frontend/pages/quiz/index.vue
  frontend/pages/register.vue
  frontend/pages/report.vue
  frontend/pages/resources.vue
  frontend/pages/settings.vue
  frontend/pages/terms.vue
  frontend/services/api.js
  frontend/utils/validation.js
Due: deploy_frontend

feat: 新增AI测试模块和帮助中心页面
  backend/community/urls.py
  backend/community/views.py
  frontend/api/auth.ts
  frontend/api/http.js
  frontend/api/quiz.js
  frontend/components/layout/Footer.vue
  frontend/components/layout/Header.vue
  frontend/components/layout/Sidebar.vue
  frontend/composables/useApi.js
  frontend/composables/useAuth.js
  frontend/constants/index.js
  frontend/nuxt.config.ts
  frontend/pages/ai-test.vue
  frontend/pages/ai-test/assessment.vue
  frontend/pages/ai-test/chat.vue
  frontend/pages/ai-test/simulation.vue
  frontend/pages/auth/verify-email.vue
  frontend/pages/community/index.vue
  frontend/pages/help.vue
  frontend/pages/index.vue
  frontend/pages/profile/index.vue
  frontend/pages/profile/settings.vue
  frontend/pages/quiz/[id].vue
  frontend/pages/quiz/[id]/results.vue
  frontend/pages/quiz/index.vue
  frontend/pages/resources.vue
  frontend/pages/resources/[id].vue
  frontend/services/api.js
Due: deploy_backend, deploy_frontend

fix(community): 修复社区页面数据加载和API路径问题
  frontend/api/community.ts
  frontend/pages/community/index.vue
  frontend/services/api.js
Due: deploy_frontend

fix(auth): 修复Pinia初始化前访问auth store的问题
  frontend/Dockerfile.frontend
  frontend/components/layout/Header.vue
  frontend/components/layout/Sidebar.vue
  frontend/layouts/admin.vue
  frontend/pages/index.vue
  frontend/pages/settings.vue
  frontend/plugins/01.pinia.client.js
  frontend/plugins/api.client.ts
  frontend/pnpm-lock.yaml
  frontend/public/default-avatar.svg
Due: deploy_frontend

feat: 重构认证系统为OAuth2并实现多页面认证中间件
  backend/.env.example
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/settings_production.py
  backend/requirements.txt
  backend/users/migrations/0004_customuser_allow_friend_requests_and_more.py
  backend/users/models.py
  backend/users/oauth_views.py
  backend/users/serializers.py
  backend/users/urls.py
  frontend/api/auth.ts
  frontend/components/layout/Header.vue
  frontend/components/ui/NotificationContainer.vue
  frontend/components/ui/SimpleNotification.vue
  frontend/composables/useAuth.js
  frontend/composables/useGraphData.js
  frontend/layouts/admin.vue
  frontend/layouts/default.vue
  frontend/middleware/auth.js
  frontend/middleware/guest.js
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/achievements.vue
  frontend/pages/community/[id].vue
  frontend/pages/community/index.vue
  frontend/pages/dashboard.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/notifications.vue
  frontend/pages/profile/index.vue
  frontend/pages/profile/settings.vue
  frontend/pages/quiz/[id].vue
  frontend/pages/quiz/[id]/results.vue
  frontend/pages/quiz/[id]/start.vue
  frontend/pages/quiz/index.vue
  frontend/pages/register.vue
  frontend/pages/resources/[id].vue
  frontend/pages/search.vue
  frontend/services/api.js
  frontend/types/api.ts
  frontend/utils/errorHandler.js
Due: deploy_backend, deploy_frontend
