Repository Charlunn/AntiFraudKnowledge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend, deploy_frontend, deploy_neo4j, deploy_mysql

deploy_backend:
  stage: deploy
  script:
  - echo "Backend files changed. Restarting backend service..."
  - apk add --no-cache openssh-client
  - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down backend && docker-compose up -d backend"

deploy_frontend:
  stage: deploy
  script:
  - echo "Frontend files changed. Restarting frontend service..."
  - apk add --no-cache openssh-client
  - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down frontend && docker-compose up -d frontend"

deploy_neo4j:
  stage: deploy
  script:
  - echo "Neo4j data or configuration changed. Restarting neo4j service..."
  - apk add --no-cache openssh-client
  - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down neo4j && docker-compose up -d neo4j"

deploy_mysql:
  stage: deploy
  script:
  - echo "MySQL data or configuration changed. Restarting mysql service..."
  - apk add --no-cache openssh-client
  - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down mysql && docker-compose up -d mysql"

feat(notifications): 实现通知系统前后端功能
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/check_auth.py
  backend/notifications/__init__.py
  backend/notifications/admin.py
  backend/notifications/apps.py
  backend/notifications/migrations/0001_initial.py
  backend/notifications/migrations/__init__.py
  backend/notifications/models.py
  backend/notifications/serializers.py
  backend/notifications/urls.py
  backend/notifications/views.py
  frontend/api/base.ts
  frontend/api/http.js
  frontend/components/layout/Header.vue
  frontend/components/ui/Drawer.vue
  frontend/components/ui/Modal.vue
  frontend/components/ui/Notification.vue
  frontend/components/ui/NotificationContainer.vue
  frontend/components/ui/Tooltip.vue
  frontend/composables/useAuth.js
  frontend/layouts/auth.vue
  frontend/pages/api-docs.vue
  frontend/pages/contact.vue
  frontend/pages/dashboard.vue
  frontend/pages/disclaimer.vue
  frontend/pages/faq.vue
  frontend/pages/feedback.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/notifications.vue
  frontend/pages/profile/index.vue
  frontend/pages/quiz/[id]/start.vue
  frontend/pages/register.vue
  frontend/pages/support.vue
  frontend/plugins/api.client.ts
  frontend/services/api.js
Due: deploy_backend, deploy_frontend

feat(用户资料): 完善用户资料页面功能及错误处理
  frontend/components/layout/Header.vue
  frontend/composables/useApi.js
  frontend/composables/useAuth.js
  frontend/constants/index.js
  frontend/pages/profile/index.vue
  frontend/services/api.js
Due: deploy_frontend

feat(header): 添加未读通知数量实时获取功能
  frontend/components/layout/Header.vue
  frontend/pages/profile/index.vue
Due: deploy_frontend

feat: 添加AI测试功能与知识图谱集成
  backend/KnowledgeBackend/settings.py
  backend/chatapi/knowledge_service.py
  backend/chatapi/knowledge_views.py
  backend/chatapi/urls.py
  backend/chatapi/views.py
  backend/init_fraud_knowledge_graph.py
  backend/notifications/urls.py
  backend/test_ai_api.py
  backend/test_ai_with_knowledge.py
  backend/test_chat_history.py
  backend/test_deepseek_chat.py
  backend/test_frontend_integration.py
  backend/test_knowledge_integration.py
  backend/test_neo4j_connection.py
  frontend/api/chat.ts
  frontend/pages/ai-test/index.vue
  frontend/pages/ai-test/results/[id].vue
  frontend/pages/ai-test/simulation.vue
  frontend/services/api.js
  frontend/test_frontend_api.js
Due: deploy_backend, deploy_frontend

fix: export quiz difficulty constant
  frontend/components/layout/Footer.vue
  frontend/constants/index.js
Due: deploy_frontend

chore: remove legacy api duplicates
  docs/api_usage.md
  frontend/api/achievements.js
  frontend/api/chat.js
  frontend/api/feedback.js
  frontend/api/http.js
  frontend/api/quiz.js
  frontend/plugins/api.client.ts
Due: deploy_frontend

feat(test_records): 新增测试记录功能模块
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/check_testuser.py
  backend/test_records/__init__.py
  backend/test_records/admin.py
  backend/test_records/apps.py
  backend/test_records/migrations/0001_initial.py
  backend/test_records/migrations/__init__.py
  backend/test_records/models.py
  backend/test_records/serializers.py
  backend/test_records/tests.py
  backend/test_records/urls.py
  backend/test_records/views.py
  frontend/api/base.ts
  frontend/api/http.js
  frontend/api/test-records.ts
  frontend/composables/useAuth.js
  frontend/pages/ai-test/results/[id].vue
  frontend/pages/ai-test/scenario-chat.vue
  frontend/pages/ai-test/simulation.vue
  frontend/pages/profile/index.vue
  frontend/plugins/api.client.ts
Due: deploy_backend, deploy_frontend

fix: export quiz difficulty and remove duplicate api files
  frontend/api/achievements.js
  frontend/api/chat.js
  frontend/api/feedback.js
  frontend/api/quiz.js
  frontend/constants/index.js
Due: deploy_frontend

feat(auth): 将认证系统从OAuth2迁移到JWT
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/settings_production.py
  backend/check_oauth_apps.py
  backend/users/jwt_views.py
  backend/users/urls.py
  frontend/api/http.js
  frontend/composables/useAuth.js
  frontend/nuxt.config.ts
  frontend/pages/dashboard.vue
  frontend/plugins/auth.client.ts
  frontend/services/api.js
Due: deploy_backend, deploy_frontend

feat(auth): 添加多平台OAuth登录支持
  backend/KnowledgeBackend/settings.py
  backend/docs/third_party_oauth_compatibility_analysis.md
  backend/users/management/commands/cleanup_avatar_cache.py
  backend/users/migrations/0005_customuser_qq_openid_customuser_wechat_openid.py
  backend/users/migrations/0006_customuser_age_range_customuser_alipay_openid_and_more.py
  backend/users/migrations/0007_customuser_avatar_url_and_more.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/third_party_oauth.py
  backend/users/urls.py
  backend/users/views.py
  backend/utils/avatar_cache.py
  config/oauth_config_example.json
  docs/OAUTH_PLATFORM_SETUP_GUIDE.md
  docs/OAUTH_SETUP.md
  frontend/.env.example
  frontend/components/ui/PolicyModal.vue
  frontend/components/ui/PrivacyContent.vue
  frontend/components/ui/TermsContent.vue
  frontend/composables/useApi.js
  frontend/composables/useOAuth.js
  frontend/config/oauth.js
  frontend/nuxt.config.ts
  frontend/pages/auth/alipay/callback.vue
  frontend/pages/auth/douyin/callback.vue
  frontend/pages/auth/oauth-conflict.vue
  frontend/pages/auth/oauth-register.vue
  frontend/pages/auth/onboarding.vue
  frontend/pages/auth/qq/callback.vue
  frontend/pages/auth/wechat/callback.vue
  frontend/pages/graph.vue
  frontend/pages/login.vue
  frontend/pages/profile/settings.vue
  frontend/pages/register.vue
  frontend/services/api.js
  frontend/src/components/ThirdPartyLogin.vue
  frontend/src/views/auth/ThirdPartyCallback.vue
  scripts/setup_oauth.py
Due: deploy_backend, deploy_frontend

feat(serializers): 添加向后兼容的GraphDataSerializer
  backend/graph_api/serializers.py
  frontend/services/api.js
  知识图谱数据结构.md
Due: deploy_backend, deploy_frontend

feat: 添加反诈骗知识图谱初始化脚本
  backend/init_knowledge_graph.py
Due: deploy_backend

feat(前端): 添加Heroicons图标库和项目logo
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/logo.svg
Due: deploy_frontend

feat(chat): 新增场景模拟聊天功能并优化前后端交互
  backend/KnowledgeBackend/renderers.py
  backend/KnowledgeBackend/settings.py
  backend/chatapi/urls.py
  backend/chatapi/views.py
  frontend/api/base.ts
  frontend/pages/ai-test/chat.vue
  frontend/pages/ai-test/scenario-chat.vue
  frontend/pages/ai-test/simulation.vue
  frontend/plugins/api.client.ts
Due: deploy_backend, deploy_frontend

fix(chatapi): 修复分数变化格式问题并优化会话状态管理
  backend/chatapi/views.py
  frontend/pages/ai-test/scenario-chat.vue
Due: deploy_backend, deploy_frontend

feat(chat): 实现AI对话报告生成与测试记录优化
  backend/chatapi/urls.py
  backend/chatapi/views.py
  backend/test_records/urls.py
  backend/test_records/views.py
  frontend/api/test-records.ts
  frontend/pages/ai-test/index.vue
  frontend/pages/ai-test/results/[id].vue
  frontend/pages/ai-test/scenario-chat.vue
Due: deploy_backend, deploy_frontend

feat(ai-test): 添加报告生成状态提示和页面激活刷新功能
  frontend/pages/ai-test/index.vue
  frontend/pages/ai-test/scenario-chat.vue
Due: deploy_frontend

refactor(auth): 优化认证中间件和状态管理逻辑
  frontend/Dockerfile.frontend
  frontend/api/auth.ts
  frontend/composables/useAuth.js
  frontend/middleware/auth.js
  frontend/middleware/guest.js
Due: deploy_frontend

feat(场景聊天): 添加等待状态提示和打字动画效果
  frontend/pages/ai-test/scenario-chat.vue
Due: deploy_frontend

feat: 优化后端日志清理和Neo4j查询
  backend/KnowledgeBackend/settings.py
  backend/README_FIXES.md
  backend/chatapi/views.py
  backend/cleanup_logs.py
  backend/graph_api/cypher_queries.py
  backend/graph_api/db_utils.py
  backend/graph_api/serializers.py
  backend/graph_api/urls.py
  backend/graph_api/views.py
  backend/init_neo4j_schema.py
  backend/stats/serializers.py
  docker-compose.yml
  frontend/Dockerfile.frontend
  frontend/composables/useApi.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/graph.vue
  frontend/playwright.config.ts
  frontend/scripts/polyfill-crypto.cjs
  frontend/services/api.js
  frontend/test-results/.last-run.json
  frontend/test-results/graph-Knowledge-graph-page-1e249--path-analysis-from-toolbar-chromium/trace.zip
  frontend/test-results/graph-Knowledge-graph-page-48048-l-search-and-updates-counts-chromium/trace.zip
  frontend/test-results/graph-Knowledge-graph-page-renders-initial-graph-summary-chromium/trace.zip
  frontend/tests/graph.spec.ts
  package-lock.json
  package.json
Due: deploy_backend, deploy_frontend

feat[GraphVisualization]: 优化大型图数据渲染性能
  frontend/components/GraphVisualization.vue
Due: deploy_frontend

feat[GraphVisualization]: 优化大型图表渲染性能
  frontend/components/GraphVisualization.vue
Due: deploy_frontend

由于提供的diff内容仅显示了文件路径而没有具体变更内容，无法准确分析变更类型和范围。建议提供具体的代码变更内容以便生成准确的提交信息。以下是一个通用的提交信息模板：
  frontend/components/GraphVisualization.vue
Due: deploy_frontend

chore: update files
  frontend/components/fraud-graph/GraphCanvas.vue
  frontend/components/fraud-graph/GraphSidebar.vue
  frontend/components/fraud-graph/GraphStage.vue
  frontend/components/fraud-graph/GraphToolbar.vue
  frontend/components/fraud-graph/QuickFilters.vue
  frontend/layouts/graph.vue
  frontend/locales/en/graph.json
  frontend/locales/zh/graph.json
  frontend/pages/graph.vue
Due: deploy_frontend

mvp 前端更新
  frontend/pages/index.vue
  mvp/README.md
  mvp/backend/chatapi/migrations/0002_chatsimulationresult_capability_profile.py
  mvp/backend/chatapi/models.py
  mvp/backend/chatapi/urls.py
  mvp/backend/chatapi/views.py
  mvp/backend/scripts/seed_quiz_questions.py
  mvp/backend/users/serializers.py
  mvp/backend/utils/permissions.py
  mvp/frontend/components/layout/AppShell.vue
  mvp/frontend/components/simulation/CapabilityRadar.client.vue
  mvp/frontend/composables/useStatsSync.ts
  mvp/frontend/pages/graph.vue
  mvp/frontend/pages/index.vue
  mvp/frontend/pages/login.vue
  mvp/frontend/pages/profile.vue
  mvp/frontend/pages/quiz.vue
  mvp/frontend/pages/simulation.vue
  mvp/frontend/stores/auth.ts
Due: deploy_frontend

Path conditions:
  deploy_backend: any of: backend/**/*
  deploy_frontend: any of: frontend/**/*
  deploy_neo4j: any of: db/neo4j/**/*
  deploy_mysql: any of: db/mysql/**/*
