Repository Charlunn/AntiFraudKnowledge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend, deploy_frontend, deploy_neo4j, deploy_mysql

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - deploy

deploy_backend:
  stage: deploy
  script:
    - echo "Backend files changed. Restarting backend service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down backend && docker-compose up -d backend" # 请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - backend/**/*
    refs:
      - main

deploy_frontend:
  stage: deploy
  script:
    - echo "Frontend files changed. Restarting frontend service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down frontend && docker-compose up -d frontend" # 请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - frontend/**/*
    refs:
      - main

deploy_neo4j:
  stage: deploy
  script:
    - echo "Neo4j data or configuration changed. Restarting neo4j service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down neo4j && docker-compose up -d neo4j" # 重启 neo4j 服务，请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - db/neo4j/**/* # 当 db/neo4j 目录下的任何文件发生更改时触发
    refs:
      - main # 只在 main 分支触发

deploy_mysql:
  stage: deploy
  script:
    - echo "MySQL data or configuration changed. Restarting mysql service..."
    - apk add --no-cache openssh-client # 使用 apk 安装 openssh-client
    - ssh user@your_server_ip "cd /path/to/your/project && docker-compose down mysql && docker-compose up -d mysql" # 重启 mysql 服务，请将 your_server_ip 替换为实际服务器IP或主机名，并确保SSH配置正确
  only:
    changes:
      - db/mysql/**/* # 当 db/mysql 目录下的任何文件发生更改时触发
    refs:
      - main # 只在 main 分支触发

chat 后端2
  frontend/pages/chat.vue
Due: deploy_frontend

chat逻辑更改
  frontend/pages/chat.vue
Due: deploy_frontend

依赖更改
  backend/requirements.txt
Due: deploy_backend

chat bug修复
  backend/chatapi/views.py
  frontend/pages/chat.vue
Due: deploy_backend, deploy_frontend

chatui优化
  frontend/pages/chat.vue
Due: deploy_frontend

模型更改
  backend/chatapi/views.py
Due: deploy_backend

logo
  frontend/components/AppHeader.vue
  frontend/public/LOGO.png
Due: deploy_frontend

logo相关样式更改
  frontend/components/AppHeader.vue
Due: deploy_frontend

ui更改
  db/neo4j/databases/system/neostore.propertystore.db
  frontend/components/GraphChart.vue
  frontend/components/GraphFilterSidebar.vue
  frontend/pages/index.vue
Due: deploy_frontend, deploy_neo4j

Revert "Merge remote-tracking branch 'origin/main'"
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/chatapi/__init__.py
  backend/chatapi/admin.py
  backend/chatapi/apps.py
  backend/chatapi/migrations/__init__.py
  backend/chatapi/models.py
  backend/chatapi/tests.py
  backend/chatapi/urls.py
  backend/chatapi/views.py
  backend/graph_api/urls.py
  backend/graph_api/views.py
  backend/requirements.txt
  frontend/components/AppHeader.vue
  frontend/pages/chat.vue
  frontend/public/LOGO.png
  frontend/stores/graph.js
Due: deploy_backend, deploy_frontend

ui更改2
  frontend/pages/index.vue
Due: deploy_frontend

gitignore更新
  .gitignore
  frontend/components/AppHeader.vue
Due: deploy_frontend

ui更改3
  frontend/pages/index.vue
Due: deploy_frontend

侧边栏汉化
  frontend/components/GraphFilterSidebar.vue
Due: deploy_frontend

header逻辑更新
  frontend/components/AppHeader.vue
Due: deploy_frontend

test
  待办事项.txt
Due: none

可视化更改
  frontend/assets/css/main.css
  frontend/pages/dashboard.vue
  package-lock.json
  package.json
Due: deploy_frontend

导航栏更新
  frontend/components/AppHeader.vue
Due: deploy_frontend

安装和转译echarts-wordcloud
  frontend/nuxt.config.ts
Due: deploy_frontend

修改echarts-wordcloud一些配置
  frontend/nuxt.config.ts
  frontend/pages/dashboard.vue
Due: deploy_frontend

增加Echart图例
  frontend/nuxt.config.ts
Due: deploy_frontend

增加Echart图例
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard.vue
Due: deploy_frontend

空提交
  frontend/pages/dashboard.vue
Due: deploy_frontend

忽略sock后缀文件
  .gitignore
  db/mysql/mysql.sock
Due: deploy_mysql

修改刷新bug
  frontend/stores/auth.js
Due: deploy_frontend

分离服务端和客户端的渲染逻辑
  frontend/plugins/auth.client.js
  frontend/stores/auth.js
Due: deploy_frontend

空提交
  待办事项.txt
Due: none

更改初始化用户的认证状态
  frontend/stores/auth.js
Due: deploy_frontend

同上
  frontend/plugins/auth.client.js
Due: deploy_frontend

忽略db文件夹
  .gitignore
Due: none

登陆功能修改bug
  frontend/stores/auth.js
Due: deploy_frontend

注册bug修改
  frontend/stores/auth.js
Due: deploy_frontend

一些更改
  backend/KnowledgeBackend/settings.py
  docker-compose.yml
  frontend/pages/chat.vue
  frontend/pages/personal-info.vue
  frontend/pages/register.vue
  frontend/stores/auth.js
Due: deploy_backend, deploy_frontend

一些更改
  frontend/plugins/axios.client.js
Due: deploy_frontend

修复注册bug1
  backend/users/serializers.py
Due: deploy_backend

修复登录bug1
  backend/users/serializers.py
  frontend/pages/login.vue
  frontend/stores/auth.js
Due: deploy_backend, deploy_frontend

修复登录bug2
  backend/users/serializers.py
  frontend/middleware/auth.global.js
  frontend/pages/chat.vue
  frontend/pages/dashboard.vue
  frontend/pages/personal-info.vue
Due: deploy_backend, deploy_frontend

修复登录bug3
  frontend/plugins/axios.client.js
Due: deploy_frontend
