Repository Charlunn/AntiFraudKnowledge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_frontend_master, deploy_backend_master, apply_compose_changes_master, deploy_frontend_dev, deploy_backend_dev, apply_compose_changes_dev

Path conditions:
  deploy_frontend_master: any of: frontend/**/*, docker-compose.yml
  deploy_backend_master: any of: backend/**/*, docker-compose.yml
  apply_compose_changes_master: any of: docker-compose.yml
  deploy_frontend_dev: any of: frontend/**/*, docker-compose.yml
  deploy_backend_dev: any of: backend/**/*, docker-compose.yml
  apply_compose_changes_dev: any of: docker-compose.yml

test
  README
Due: none

test1
  README
Due: none

更改gitlab配置
  .gitlab-ci.yml
Due: none

bug
  .gitlab-ci.yml
Due: none

更新.gitlab-ci.yml文件
  .gitlab-ci.yml
Due: none

11
  README
Due: none

測試
  docker-compose.yml
Due: deploy_frontend_master, deploy_backend_master, apply_compose_changes_master, deploy_frontend_dev, deploy_backend_dev, apply_compose_changes_dev

test
  docker-compose.yml
Due: deploy_frontend_master, deploy_backend_master, apply_compose_changes_master, deploy_frontend_dev, deploy_backend_dev, apply_compose_changes_dev

修改gitlab配置
  .gitlab-ci.yml
Due: none

test3
  docker-compose.yml
Due: deploy_frontend_master, deploy_backend_master, apply_compose_changes_master, deploy_frontend_dev, deploy_backend_dev, apply_compose_changes_dev

编辑docker-compose.yml
  docker-compose.yml
Due: deploy_frontend_master, deploy_backend_master, apply_compose_changes_master, deploy_frontend_dev, deploy_backend_dev, apply_compose_changes_dev

some change
  .firebase/knowledge-37116/functions/package-lock.json
  .firebase/knowledge-37116/functions/package.json
  .firebase/knowledge-37116/hosting/_nuxt/BEcj2C4p.js
  .firebase/knowledge-37116/hosting/_nuxt/BZk_P7jI.js
  .firebase/knowledge-37116/hosting/_nuxt/DfeXr0L-.js
  .firebase/knowledge-37116/hosting/_nuxt/FM63H9QT.js
  .firebase/knowledge-37116/hosting/_nuxt/YMSeGCD5.js
  .firebase/knowledge-37116/hosting/_nuxt/Zesm_fh0.js
  .firebase/knowledge-37116/hosting/_nuxt/bX1fWyE-.js
  .firebase/knowledge-37116/hosting/_nuxt/builds/latest.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/5b4e8655-5a06-4e66-86ad-a4453f1a4853.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/769030bc-8ba5-49c0-92eb-9902f94151f1.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/7f76ecd4-ee33-447f-8b76-3b0012029602.json
  .firebase/knowledge-37116/hosting/_nuxt/builds/meta/dff0d435-3113-4453-98a3-ef15988dcf4e.json
  .firebase/knowledge-37116/hosting/_nuxt/entry.CcLWtCQj.css
  .firebase/knowledge-37116/hosting/_nuxt/entry.DR2-N0RV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.ChEKzsTS.css
  .firebase/knowledge-37116/hosting/_nuxt/error-404.aNCZ2L4y.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.D0l6l5LV.css
  .firebase/knowledge-37116/hosting/_nuxt/error-500.JESWioAZ.css
  .firebase/knowledge-37116/hosting/_nuxt/hapgdh11.js
  .firebase/knowledge-37116/hosting/_nuxt/index.B_aoGg54.css
  .firebase/knowledge-37116/hosting/_nuxt/index.hU7v1fD1.css
  .firebase/knowledge-37116/hosting/_nuxt/pHFOM2mM.js
  .firebase/knowledge-37116/hosting/_nuxt/xzSA7DD2.js
  .firebase/knowledge-37116/hosting/favicon.ico
  .firebase/knowledge-37116/hosting/robots.txt
  .firebaserc
  .gitlab-ci.yml
  .idx/dev.nix
  .idx/integrations.json
  firebase.json
  package-lock.json
Due: none

allowed
  backend/KnowledgeBackend/settings.py
Due: deploy_backend_master, deploy_backend_dev

ui change
  frontend/app.vue
  frontend/assets/css/main.css
  frontend/components/AppFooter.vue
  frontend/components/AppHeader.vue
  frontend/components/GraphChart.vue
  frontend/components/GraphFilterSidebar.vue
  frontend/nuxt.config.ts
Due: deploy_frontend_master, deploy_frontend_dev

ui change to right
  frontend/app.vue
  frontend/assets/css/main.css
  frontend/components/AppFooter.vue
  frontend/components/AppHeader.vue
  frontend/components/GraphChart.vue
  frontend/components/GraphFilterSidebar.vue
  frontend/pages/index.vue
Due: deploy_frontend_master, deploy_frontend_dev

uichange
  backend/KnowledgeBackend/settings.py
  frontend/components/GraphChart.vue
  frontend/components/GraphFilterSidebar.vue
  frontend/pages/index.vue
Due: deploy_frontend_master, deploy_backend_master, deploy_frontend_dev, deploy_backend_dev

init user with django
  .devcontainer/devcontainer.json
  backend/KnowledgeBackend/settings.py
  backend/users/__init__.py
  backend/users/admin.py
  backend/users/apps.py
  backend/users/migrations/__init__.py
  backend/users/models.py
  backend/users/tests.py
  backend/users/views.py
Due: deploy_backend_master, deploy_backend_dev

用户注册api
  backend/users/migrations/0001_initial.py
  backend/users/migrations/0002_customuser_avatar_customuser_nickname.py
  backend/users/serializers.py
  backend/users/urls.py
  db/mysql/binlog.000007
  db/mysql/binlog.000008
  db/mysql/binlog.000009
  db/mysql/binlog.000010
  db/mysql/binlog.000011
  db/mysql/binlog.000012
  db/mysql/binlog.000013
  db/mysql/binlog.000014
  db/mysql/binlog.000015
  db/mysql/binlog.000016
  db/mysql/mydatabase/auth_group.ibd
  db/mysql/mydatabase/auth_group_permissions.ibd
  db/mysql/mydatabase/auth_permission.ibd
  db/mysql/mydatabase/django_admin_log.ibd
  db/mysql/mydatabase/django_content_type.ibd
  db/mysql/mydatabase/django_migrations.ibd
  db/mysql/mydatabase/django_session.ibd
  db/mysql/mydatabase/users_customuser.ibd
  db/mysql/mydatabase/users_customuser_groups.ibd
  db/mysql/mydatabase/users_customuser_user_permissions.ibd
Due: deploy_backend_master, deploy_backend_dev

代办记录
  待办事项.txt
Due: none

chat frontend
  frontend/components/AppHeader.vue
  frontend/pages/chat.vue
Due: deploy_frontend_master, deploy_frontend_dev

header逻辑修改
  frontend/components/AppHeader.vue
Due: deploy_frontend_master, deploy_frontend_dev

chat逻辑更新
  frontend/pages/chat.vue
Due: deploy_frontend_master, deploy_frontend_dev

chat 后端
  backend/KnowledgeBackend/settings.py
  backend/KnowledgeBackend/urls.py
  backend/chatapi/__init__.py
  backend/chatapi/admin.py
  backend/chatapi/apps.py
  backend/chatapi/migrations/__init__.py
  backend/chatapi/models.py
  backend/chatapi/tests.py
  backend/chatapi/urls.py
  backend/chatapi/views.py
  backend/graph_api/urls.py
  backend/graph_api/views.py
  frontend/pages/chat.vue
  frontend/stores/graph.js
Due: deploy_frontend_master, deploy_backend_master, deploy_frontend_dev, deploy_backend_dev

remake
  frontend/pages/chat.vue
Due: deploy_frontend_master, deploy_frontend_dev
